

<!DOCTYPE html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Social Media Mgmt</title>

</head>

<body>


<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Social Media Mgmt</h1>
            <p class="lead">Enterprise Blog</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <img src="../../images/logo.jpg" width="150" height="150" class="center" align="middle">

            </div>
          </div>
        </div>
      </div>

  <div class="bs-docs-section clearfix">
     <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item active">
                      <a class="nav-link" href="/articles/new">New Article</a>
                    </li>   
                    <li class="nav-item active">
                      <a class="nav-link" href="/articles">Articles </a>
                    </li>   
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Sign out</a>
                       
                    </li>  
                    </li>
                  </ul>
                </div>
              </nav>


    </div>
  </div>
<br>
    <br>
    <br>

<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="forms">Edit Article</h1>
              </div>    
 <div class="bs-component">                

 
<%= render 'form' %>
 

             
</div>

 
</div>
 </body>
 </html>

